@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  /* Apply a sharp, anti-aliased look for that premium feel */
  -webkit-font-smoothing: antialiased;
}

/* Add a subtle scanline effect or grid if you want to go full .tech */
.industrial-grid {
  background-size: 40px 40px;
  background-image: 
    linear-gradient(to right, #121212 1px, transparent 1px),
    linear-gradient(to bottom, #121212 1px, transparent 1px);
}
